/*general styles*/
.mNav{
  list-style-type: none;
  display:flex;

  justify-content:flex-end;
  height:16px;
  Background:linear-gradient(to right,#702963 0%, #9966cc 10%, #73a9c2 40%, #ffbf00 100%);
}
.mNav li{
  padding-left: 2000px;
}
.home{
  order:-3;
}

.jt{
  display:flex;
   flex-grow: 2;
   margin:-.25px
 }
/*projects styles*/


/*index styles*/

.Minfo{
  order:-1;
}
.WH{
  order:2;
}

/*mobile styles*/
@media(max-width:400px){
/*m400pxGeneral*/
.mNav{
  height:26px;
}

.mNav li{
  padding-left: 10px;
  height: 1rem;
  font-size: 1.20rem;
}
/*m400pxccresume styles*/
.jt{
  display:flex;
  justify-content:center;height: 3rem;
  font-size: 2rem;
}
}
